[aws]
aws_id=x
aws_key=x
ses_region=x
ses_def_sender=name@yourdomain.com
ses_def_msg=sample message
ses_def_recipients=x
ses_error_recipients=x

[general]
temp_bucket=temp_mybucket
temp_key=test
asset_bucket=mybucket
asset_key=
aws_access_key=x
aws_secret_key=x
env=test
aws_region=x

[hambot]
# dev, qa, prod
environment=dev

[hambot_ftp]
site=ftp.x.com
user=x
password=cGFzc3dvcmQ=
path=x

[hambot_sftp]
site=sftp.x.com
user=x
password=cGFzc3dvcmQ=
path=/path/to/file

[sample_mysql_connection]
db_name=foo
user=admin
host=foo.x.com
port=3306
password=cGFzc3dvcmQ=
type=mysql

[sample_connection_foo]
db_name=foo
user=admin
host=foo.x.com
port=5439
password=cGFzc3dvcmQ=
type=postgres

[sample_connection_bar]
db_name=bar
user=admin
server=foo.x.com
port=1433
password=cGFzc3dvcmQ=
type=mssql

[slack]
token=x
channel=x
bot_id=x
